
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="catalogue-title">New Products</h1>
    </div>
</div>
<!-- Product Listing -->
<div class="row">
    <div class="col-md-4 col-sm-4 product-listing">
        <p class="title"><a href="product.html">Ibiza Lips</a></p>
        <a href="product.html"><img class="image" src="assets/img/product-1.jpg" alt="Ibiza Lips" /></a>
        <p class="price">
            &pound; 9.99
            <a class="btn btn-addcart btn-primary" href="basket.html"><span class="entypo cart"></span></a><a class="btn btn-view btn-grey" href="product.html"><span class="entypo search"></span></a>
        </p>
    </div>
    <div class="col-md-4 col-sm-4 product-listing">
        <p class="title"><a href="product.html">Ibiza Banana</a></p>
        <a href="product.html"><img class="image" src="assets/img/product-2.jpg" alt="Ibiza Banana" /></a>
        <p class="price">
            &pound; 9.99
            <a class="btn btn-addcart btn-primary" href="basket.html"><span class="entypo cart"></span></a><a class="btn btn-view btn-grey" href="product.html"><span class="entypo search"></span></a>
        </p>
    </div>
    <div class="col-md-4 col-sm-4 product-listing">
        <p class="title"><a href="product.html">I Was There</a></p>
        <a href="product.html"><img class="image" src="assets/img/product-3.jpg" alt="I Was There" /></a>
        <p class="price">
            &pound; 9.99
            <a class="btn btn-addcart btn-primary" href="basket.html"><span class="entypo cart"></span></a><a class="btn btn-view btn-grey" href="product.html"><span class="entypo search"></span></a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-4 product-listing">
        <p class="title"><a href="product.html">A Life Style</a></p>
        <a href="product.html"><img class="image" src="assets/img/product-1.jpg" alt="A Life Style" /></a>
        <p class="price">
            &pound; 9.99
            <a class="btn btn-addcart btn-primary" href="basket.html"><span class="entypo cart"></span></a><a class="btn btn-view btn-grey" href="product.html"><span class="entypo search"></span></a>
        </p>
    </div>
    <div class="col-md-4 col-sm-4 product-listing">
        <p class="title"><a href="product.html">Amnesia Community</a></p>
        <a href="product.html"><img class="image" src="assets/img/product-2.jpg" alt="Amnesia Community" /></a>
        <p class="price">
            &pound; 9.99
            <a class="btn btn-addcart btn-primary" href="basket.html"><span class="entypo cart"></span></a><a class="btn btn-view btn-grey" href="product.html"><span class="entypo search"></span></a>
        </p>
    </div>
    <div class="col-md-4 col-sm-4 product-listing">
        <p class="title"><a href="product.html">Carnal</a></p>
        <a href="product.html"><img class="image" src="assets/img/product-3.jpg" alt="Carnal" /></a>
        <p class="price">
            &pound; 9.99
            <a class="btn btn-addcart btn-primary" href="basket.html"><span class="entypo cart"></span></a><a class="btn btn-view btn-grey" href="product.html"><span class="entypo search"></span></a>
        </p>
    </div>
</div>

